[init]
	defaultBranch = main

[includeIf "gitdir:~/dev/"]
  path = ~/.gitconfig-personal

[includeIf "gitdir:~/dotfiles/"]
  path = ~/.gitconfig-personal

[includeIf "gitdir:~/.config/"]
  path = ~/.gitconfig-personal

[includeIf "gitdir:~/.password-store/"]
  path = ~/.gitconfig-personal

[includeIf "gitdir:~/daff/"]
  path = ~/daff/.gitconfig
